article {
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
}

h1 {
    color: blue;
    font-size: 16pt;
}

h2 {
    color: red;
    font-size: 14pt;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}