* { 
    margin: 0; 
    box-sizing: border-box;
    font-family: "Playfair Display"; 
}
header, footer {
    margin: 0;
    padding: 1rem;
    max-width: 1500px;
    text-align: center;
    background-color: #41d3f4;
    color: #000000;
}
#title {
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    color: black;
}
nav {
    background-color: #333;
    text-align: center;
    line-height: 30px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.motto {
    font-family: "Open Sans";
    font-weight: bold;
    color: #333;
}
footer p {
    font-size: 13px;
    font-family: "Open Sans";
}
#town {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
#nav-desk {
    display: none;
}
#nav-mobile {
    color: white;
}
.stats-small {
    display: block;
	position: absolute;
	top: 25px;
	right: 35px;
	background: radial-gradient(#eee, #2762d6);
	border: 0.4px solid #000;
	padding: 0.9rem;
    box-shadow: 0 0 30px #fff;
}
.stats-large {
    display: none;
}
.imgwrap-large {
    display: none;
}
.imgwrap-small {
    display: block;
    position: relative;
    width: 95%;
    margin: 20px auto;
}
.stats p {
    font-family: "Open Sans";
}
#fiveDay {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid rgb(77, 76, 76);
    border-collapse: collapse;
}
td {
    font-family: "Open Sans";
    text-align: center;
}
th {
    background-color: #41d3f4
}
table{
    margin: 0 auto;
}
p {
    font-family: "Open Sans";
}
.forecast {
    display: none;
}
article {
    width: 75%;
    margin: 0 auto;
}
.franklin-large {
    display: none;
    width: 100%;
}
.franklin-small {
    display: block;
    width: 100%;
}
.hidden {
    display: none;
}
.menuButton {
    
}